<!DOCTYPE html>
<html>
    <head lang="pt">
        <meta charset="UTF-8">
        <title>Recrutamento MeusPedidos</title>
        <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/skeleton.css">
        <link rel="stylesheet" href="/static/css/custom.css">
    </head>
    <body class="container row">
        <section class="twelve columns">
            <div class="logo">
            </div>

            <h3 class="center">
                Ops... Não encontramos a página que você estava procurando.
            </h3>
        </section>
    </body>

</html>